h2 Users List Infomation

form(action="/users/search",method="GET")
    input(type='text',name='q',placeholder="name")
    input(type="submit")
    button Search

p
a(href="/users/create") Create User
p
ul
    each user in users
        li
            span= user.name
            span &nbsp;
            a(href="/users/"+ user.id) View