extends ../layouts/common

block content
    h2
    
        span.mr-3 Users List Infomation 
        a.btn.btn-primary(href="/users/create") Create User
    
    .d-flex.align-items-center
       
        form.ml-auto(action="/users/search",method="GET",class="d-flex")
            input(type='text',name='q',placeholder="name",class="form-control " )
            span.mr-2
            input(type="submit",class="btn btn-danger")
            span.mr-2
            button(class="btn btn-danger") Search
    table.table
        tr 
            th Name
            th Avatar
            th Phone
            th Actions

        each user in users
            tr
                td= user.name
                td    
                    img(src=user.avatar)
                td= user.phone
                td
                    a(class="btn btn-light",href="/users/"+ user.id) View