extends ../layouts/common

block content

  h2 Make something
  .container
    .row
      each product in products
        .col-sm-6.col-md-4.col-lg-3
          .card.mb-3
            img.card-img-top(src=product.image, alt='https://vn-test-11.slatic.net/p/342f739393ba13664011d4955d921829.jpg_720x720q80.jpg_.webp')
            .card-body
              h5.card-title=product.name
              p.card-text=product.description
              a.btn.btn-primary(href='#') Add to cart


    nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          a.page-link(href='#') Previous
        li.page-item
          a.page-link(href="/products?page="+page) 1
        li.page-item
          a.page-link(href='/products?page='+1) 2
        li.page-item
          a.page-link(href='/products?page='+2) 4
        li.page-item
          a.page-link(href='#') Next
     
     
         
               
